<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-positive">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left item-icon-right positive" id="menu-list-item1" ui-sref="menu.home()" menu-close="">
          <i class="icon ion-home"></i>{{ 'home_title' | translate }}
          <i class="icon ion-arrow-right-b icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right positive" id="menu-list-item21" ui-sref="menu.settings()" menu-close="">
          <i class="icon ion-settings"></i>{{ 'settings_title' | translate }}
          <i class="icon ion-arrow-right-b icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>